
.thumbnail {
    transition: 0.5s;
}

.thumbnail:hover {
    background-color: grey;
    opacity: 0.5;
}

.greet-user {
    position: absolute;
    left: 1000px;
}

.greet-user > p {
    margin: 0;
    padding: 7px;
    color: white;
}

.logout {
    position: absolute;
    left: 150px;
    bottom: 0px;
    padding-top: 9px;
}

.diary-outer-1 {
    margin-top: 60px;
}

.diary-inner-1 {
    margin-bottom: 170px;
    height: 600px;
    width: 630px;
    background-image: linear-gradient(to right, rgb(75, 222, 154), rgb(18, 163, 103));
}

.diary-inner-2 {
    height: 100%;
    width: 40px;
    background-image: linear-gradient(black, rgb(59, 57, 51));
}

.diary-inner-3 {
    height: 160px;
    width:444px;
    background-color: white;
    margin-bottom: 100%;
    margin-top: 160px;
    margin-left: 100px;
}

.diary-inner-4 {
    height: 20px;
    width:100%
}

.diary-name {
    font-family: "Questrial", sans-serif;
    margin:0 auto;
    position: relative;
    bottom: 20px;
}

.entry-link {
    outline: none;
    color: gray;
    text-decoration: none;
}

.entry-link-2 {
    height: 62px;
    width: 100%;
}

.main-heading {
    padding-top: 0;
    padding-bottom: 15px;
}

.main-link {
    outline: none;
    font-family: Open Sans, sans-serif;
    font-size: 30px;
}

.create-diary-outer {
    background-color: white;
    height: 1230px;
    width: 80%;
    margin: 100px 100px 0 100px;
    border-radius: 10px;
}

.title-outer {
    padding: 20px;
}


.title-area {
    width:100%;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    border: none;
    resize: none;
    text-align: center;
}

.title-area-view {
    width:100%;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    border: none;
    resize: none;
    text-align: center;
    overflow-wrap: break-word;
    overflow-y: auto;

}

.diary-outer {
    height: 100%;
}

.diary-area {
    width: 100%;
    height: 1000px;
    resize: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    border:none;
}

.diary-area-view {
    width: 100%;
    height: 1000px;
    resize: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    border:none;
    overflow-y: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.home-outer {
    display: flex;
    align-items: center;
}

.home-icon {
    margin-right: 5px;
    margin-bottom: 15px;
}

.entries-outer {
    display: flex;
    align-items: center;
    margin: 0 8px 0 8px;
}

.entries-icon {
    margin-right: 5px;
    margin-bottom: 15px;
}

.analytics-outer {
    display: flex;
    align-items: center;
}

.analytics-icon {
    margin-right: 5px;
    margin-bottom: 15px;
}

.logout-outer {
    display: flex;
    align-items: center;
}


.icon {
    margin-right: 5px;
}

.logout-text {
    margin: 0;
}

.header {
    margin-left:20px;
}

.diary-name-2 {
    color: white;
    font-family: "Questrial", sans-serif;

}

.total-entries {
    color: white;
    font-family: "Questrial", sans-serif;
    margin-right: 10px;

}

.date-created {
    color: white;
    border-left: 2px solid white;
    padding-left: 14px;

}

.entries-table-outer {
    margin: 20px;
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 20px solid black;
    border-radius: 50px;
}

.styled-table thead tr {
    background-color: rgb(22, 25, 59);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-image: linear-gradient(to right, rgb(215, 215, 245), rgb(240, 240, 245) )
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody td.active-row {
    font-weight: bold;
    color: black;
}

.link-element {
    text-decoration: none;
    color: black;
}

.link-element:hover {
    text-decoration: underline;
    color: black;
}

