{% extends 'base.html' %}

{% block title %} All Entries {% endblock title %}
{% block allentries-active %} active {% endblock allentries-active %}

{% block body %}

<div class="header">
    <div>
        <h3 class="diary-name-2"> {{request.user.first_name}}'s Diary </h3>
    </div>
    <div>
        <span class="total-entries">{{total_entries}} total entries</span>
        <span class="date-created">Created on {{date_joined}} (dd/mm/yyyy)</span>
    </div>

    <div class="search-bar">
        <form method='GET'>
            <section style="display: flex; justify-content: center;" ;>

                <div style="float: left; padding: 10px;">
                    <label class="search-label">Title</label>
                    {{my_filter.form.title}}
                </div>

                <div style="float: left; padding: 10px;">
                    <label class="search-label">Diary Entry</label>
                    {{my_filter.form.diary_entry}}
                </div>


                <div style="float: left; padding: 10px;">
                    <label class="search-label">From</label>
                    {{my_filter.form.start_date}}
                </div>

                <div style="float: left; padding: 10px;">
                    <label class="search-label">To</label>
                    {{my_filter.form.end_date}}
                </div>


                <br style="clear:both;" />

            </section>
            <div class="button-submit">
                <button style="width: 610px;" class="btn btn-primary" type="submit"> Search </button>
            </div>
        </form>
    </div>
</div>

<div style="padding-top: 10px;">
    <hr style="color: white; height: 10px;">
</div>

{% if forms|length == 0 %}

<table class="styled-table">
    <h3 style="text-align: center; color: white;">No entries match current filters.</h3>
    <div style=" display:flex; justify-content: center;">
        <a class="btn btn-lg btn-info" href="{% url 'create_diary' %}">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            New Entry

        </a>
    </div>
</table> {% else %} <div class="row entries-table-outer">
    <div class="card card-body" style="padding: 0;">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date Created</th>
                    <th>Update</th>
                    <th>Remove</th>

                </tr>
            </thead>
            <tbody>
                {% for diary in forms %}
                <tr style="margin-top: 20px;">
                    <td style="padding-bottom: 0;" class="active-row active-2">

                        <a class="link-element" href={% url 'detail_view' diary.id diary.slug %}>
                            {{diary.title}}
                        </a>
                        <p class="diary-entry-text">{{diary.diary_entry|truncatechars:70}}</p>
                    </td>
                    <td>
                        {{diary.date_created}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_diary' diary.id diary.slug %}">Update</a>
                    </td>
                    <form action="{% url 'delete_diary' diary.id %}" method="POST">
                        {% csrf_token %}
                        <td><input type="submit" onclick="return confirm('Are you sure you want to tear this page?');"
                                class="btn btn-sm btn-danger" value="Delete"></input></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% endblock body %}