{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style/home.css' %}" />
    {% block notfoundcss %} {% endblock notfoundcss %}
    <style>
        body {
            background-image: url('{% static "images/2ndpic.png" %}');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            margin-bottom: 600px;
            width: 100%;
            overflow-x: hidden;

        }
    </style>

    <title>{% block title %}{% endblock title %}</title>
</head>



<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand main-heading" href="{% url 'home' %}"><b>HelloDiary</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link {% block home-active %}{% endblock home-active %}" aria-current="page"
                                href="{% url 'home' %}">
                                <div class="home-outer">
                                    <i class="fa fa-home home-icon" aria-hidden="true"></i>
                                    <p class="home-text"> Home </p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block allentries-active %}{% endblock allentries-active %}"
                                href="{% url 'all_entries' %}">
                                <div class="entries-outer">
                                    <i class="fa fa-list entries-icon" aria-hidden="true"></i>
                                    <p class="entries-text"> All Entries </p>
                                </div>    
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {%block analytics-active%}{%endblock analytics-active%}"
                                href="{% url 'analytics' %}">
                                <div class="analytics-outer">
                                    <i class="fa fa-bar-chart analytics-icon" aria-hidden="true"></i>
                                    <p class="analytics-text"> Analytics </p>
                                </div>    
                            </a>
                        </li>
                        <l1 class="nav-item greet-user">
                            <p> Hello {{request.user}} !</p>

                            </li>
                            <li class="nav-item logout">
                                <a class="nav-link" href="{% url 'logout_page' %}">
                                    <div class="logout-outer">
                                        <i class="fa fa-sign-out icon" aria-hidden="true"></i>
                                        <p class="logout-text"> Logout </p>
                                    </div>
                                </a>
                            </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {% block body %}
    {% endblock body %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
    </script>
    <script src="https://use.fontawesome.com/515c535005.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>

</html>