{% extends 'base.html' %}

{% block body %}

<div class="create-diary-outer">

    <form action="" method="POST">
        {% csrf_token %}
        <div style="margin-top:50px;">
            <div class="title-outer">
                <div class="title-outer-1">
                    {{form.title}}
                </div>
                <hr style="margin: 0;">

                <div>
                    <span style="display: inline-block; padding-left: 9px;">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    </span>
                    <span style="display: inline-block;">
                        {% if update %}
                        <h5 style="margin:0; padding: 4px;">{{full_date|date:"D" }}. {{full_date|date:"d/m/Y"}}</h5>
                        {% else %}
                        <h5 style="margin:0; padding: 4px;">{{full_date}}</h5>
                        {% endif %}
                    </span>
                </div>

                <hr style="margin-top: 2px; margin-bottom: 6px;">
                <div class="diary-outer">
                    {{form.diary_entry}}
                </div>
                <input class="btn btn-outline-success btn-lg" type="submit" name="create_diary">
            </div>
        </div>
    </form>


</div>

{% endblock body %}