{% extends 'base.html' %}

{% block body %}

<div class="create-diary-outer">
    <div style="margin-top:50px;">
        <div class="title-outer">
            <div class="title-outer-1">
                <p class ="title-area-view"> {{diary.title}} </p>
            </div>
            <hr style="margin: 0;">

            <div>
                <span style="display: inline-block; padding-left: 9px;">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                </span>
                <span style="display: inline-block;">
                    <h5 style="margin:0; padding: 4px;">{{diary.date_created|date:"D" }}. {{diary.date_created|date:"d/m/Y"}}</h5>
                </span>
            </div>

            <hr style="margin-top: 2px; margin-bottom: 6px;">
            <div class="diary-outer">
                <p class="diary-area-view"> {{diary.diary_entry}} </p>
            </div>
        </div>
    </div>
</div>

{% endblock body %}