{% extends 'base.html' %}

{% block home-active%} active {% endblock home-active %}
{% block title %} Home {% endblock title %}

{% block body %}

<div class="row p-5 diary-outer-1">
    <div class="col-sm-6 border-success rounded shadow-lg position-absolute top-170 start-50 translate-middle-x diary-inner-1">
        <div class="border-dark rounded fixed-top diary-inner-2"></div>
        <div class="border-success rounded diary-inner-3">
            <div class="row m-0">
                <div class="col p-5 border diary-inner-4">
                    <h1 class="text-center diary-name">{{request.user.first_name}}'s Diary</h1>
                </div>
            </div>
            <a class="entry-link" href="{% url 'create_diary' %}">
                <div class="row m-0" style=" cursor: pointer;">
                    <div class=" col p-0 border thumbnail entry-link-2">
                        <p class="text-center main-link">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        New Entry
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div>

</div>

{% endblock body %}